<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HTMLtemplateMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/.DS_Store" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css.map" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css.map" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css.map" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css.map" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css.map" />
    <link rel="stylesheet" href="~/css/bootstrap.css.map" />
    <link rel="stylesheet" href="~/css/default-skin.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/icommon.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/css/meanmenu.css" />
    <link rel="stylesheet" href="~/css/nice-select.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/slick.css" />
    <link rel="stylesheet" href="~/css/style.css" />


</head>
<body>
    <!--header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
                </div>
                <div class="col-md-9">
                    <div class="menu_text">
                        <ul>
                            <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <div class="overlay-content">

                                    <a asp-controller="HTMLtemplate" asp-action="index">Home</a>
                                    <a asp-controller="HTMLtemplate" asp-action="blog">blog</a>
                                    <a asp-controller="HTMLtemplate" asp-action="About">About</a>
                                    <a asp-controller="HTMLtemplate" asp-action="Services">Services</a>
                                    <a asp-controller="HTMLtemplate" asp-action="Client">Client</a>
                                    <a asp-controller="HTMLtemplate" asp-action="Contact">Contact Us</a>
                                </div>
                            </div>
                            <span class="navbar-toggler-icon"></span>
                            <span onclick="openNav()"><img src="images/toogle-icon.png" class="toggle_menu"></span>
                    </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- banner section start -->
        <div class="banner_section">
            <div class="container-fluid padding_0">
                <div id="my_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="padding_left_0">
                                        <h1 class="retailer_text">We Are Provide Professional Consulting</h1>
                                        <p class="search_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
                                        <div class="btn_main">
                                            <div class="more_bt"><a href="#">Read More </a></div>
                                            <div class="contact_bt"><a href="#">Get A Quote</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="padding_left_0">
                                        <h1 class="retailer_text">We Are Provide Professional Consulting</h1>
                                        <p class="search_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
                                        <div class="btn_main">
                                            <div class="more_bt"><a href="#">Read More </a></div>
                                            <div class="contact_bt"><a href="#">Get A Quote</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="padding_left_0">
                                        <h1 class="retailer_text">We Are Provide Professional Consulting</h1>
                                        <p class="search_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
                                        <div class="btn_main">
                                            <div class="more_bt"><a href="#">Read More </a></div>
                                            <div class="contact_bt"><a href="#">Get A Quote</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                        <i class="fa fa-left"><img src="images/left-arrow.png"></i>
                    </a>
                    <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                        <i class="fa fa-right"><img src="images/right-arrow.png"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- header section end -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h4 class="address_text">ADDRESS</h4>
                    <p class="simply_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been  </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h4 class="address_text">QUICK LINKS</h4>
                    <div class="footer_menu_main">
                        
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="newsletter_section">
                        <div class="newsletter_left">
                            <h4 class="address_text">Newsletter</h4>
                        </div>
                        <div class="newsletter_right">
                            <div class="social_icon">
                                <ul>
                                    <li><a href="#"><img src="images/fb-icon.png"></a></li>
                                    <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                                    <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="mail_bt" placeholder="Enter Your Email" name="Enter Your Email">
                    <input type="text" class="mail_bt" placeholder="Phone" name="Phone">
                    <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.js.map" asp-append-version="true"></script>
    <script src="~/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js.map" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js.map" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.0.0.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/js/modernizer.js" asp-append-version="true"></script>
    <script src="~/js/plugin.js" asp-append-version="true"></script>
    <script src="~/js/slider-setting.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
